*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [258:27924]
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
{% for host in groups['{{group_name}}','adm_servers'] %}
-A INPUT -s {% hostvars[item].ansible_default_ipv4.address %} -j ACCEPT
{% endfor %}
{% for ip in office_ips %}
-A INPUT -s {% ip %} -j ACCEPT
{% endfor %}
-A INPUT -j REJECT --reject-with icmp-port-unreachable
COMMIT
